[Unit]
Description=Google Assistant-Voice
Wants=network-online.target
After=network-online.target

[Service]
Environment=VIRTUAL_ENV=/home/osmc/env
Environment=PATH=/home/osmc/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/osmc/env/bin/python -u /home/osmc/GassistPi/src/main.py --project_id 'project-id'  --device_model_id 'saved-model-id'

WorkingDirectory=/home/osmc/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
